html, body {
    height: 100%;
    width: 100%;
}

body {
    color: var(--textColor);
}

fieldset {
    border: 0;

}

.container {
    width: 100%;
    height: 100%;
}

.input-control {
    background-color: var(--inputBackgroundColor);
    border: none;
    padding: 0.5em;
}

.mainContact__btnSend {
    background-color: var(--secundaryColor);
    border: none;
    color: var(--whiteColor);
    padding: 1.4em 1em;
}

.mainContact__title {
    background: var(--primaryColor);
    color: var(--whiteColor);
    font-size: 1.3em;
    padding: 1.2em 2em;
}

.mainContent {
    width: 70%;
    float: left;
}

.mainForm__fieldset {
    background: url('https://i.imgsafe.org/3a765746ae.png') no-repeat;
    background-position: left center;
    background-size: 2em;
    padding: 2em 0em 1em 2em;

}

.mainForm__slide__title {
    color: var(--primaryColor);
    display: block;
    text-transform: uppercase;
}


.mainForm__slide__mounts span:nth-child(1) {
    float: right;
}

.mainForm__slide__mounts span:nth-child(2) {
    float: left;
}

.mainForm__label {
    color: var(--primaryColor);
    font-size: 1.8em;
}

.secundary {
    background-color: var(--secundaryColor);
    float: left;
    height: 100%;
    width: 30%;
}

.secundary__phrase {
    color: var(--whiteColor);
    padding: 2em 2em 0em 0em;
    text-align: right;
}

.secundary__phrase__title--big, .secundary__phrase__title--medium, .secundary__phrase__title--small {
    display: block;
    text-transform: uppercase;
}

.secundary__phrase__title--big {
    font-size: 4.2em;
}

.secundary__phrase__title--medium {
    font-size: 2.6em;
}

.secundary__phrase__title--small {
    font-size: 2em;
}

.text-info {
    color: var(--secundaryColor);
}


/* OVERRIDE PLUGINS */
.dragdealer {
    position: relative;
    height: 30px;
    background: var(--controlColor);
}
.dragdealer .handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.dragdealer .disabled {
    background: #898989;
}





